@font-face {
  font-family:'Public Sans', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(139, 196, 250);
  min-height: 100vh;

}

.all {
  display: flex;
  align-items: center;
  justify-items: center;
}

.quiz-contain {
  margin-left: 220px;
  background-color: white;
  width: 650px;
  height: 700px;
  border-radius: 5px;;
  box-shadow: 0 4.5px 12px grey, 0 4.5px 12px grey;
}

.first-part {
  padding-bottom: 8px;
  border-bottom: 2px ridge grey;
}

.title {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 3.5rem;
  margin: 25px;
  height: 100px;
}

h1 {
  padding: 20px;
  font-size: 55px;
}

.level-category {
  font-size: 1.3rem;
  height: 2.5rem;
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.quiz-header {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 25px;
  height: 170px;
}

#question {
  margin: auto;
  width: 630px;
  word-wrap: break-word;
  letter-spacing: .08rem;
  font-weight: 700;
  font-style: italic;
}

.options {
  color: rgb(0, 0, 0);
  text-align: center;
  border: 1px solid grey;
  width: 250px;
  background-color: rgb(185, 218, 255);
  box-shadow: 0 .5px 2px grey, 0 .5px 2px grey;
}

.main-option-box {
  margin-top: 35px;
  margin-right: 10px;
}

.pick-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.choice-option {
  text-align: center;
  color: white;
  width: 250px;
  border-radius: 2px;
  font-weight: 500;
  background-color: pink;
  margin: 5px;
  padding: 25px;
  cursor: pointer;
  box-shadow: 0 .5px 2px grey, 0 .5px 2px grey;
}

.choice-option:hover {
  background-color: rgb(197, 206, 219);
  color: black;
  border-color: gray;
  box-shadow: 0 .5px 5px rgb(129, 102, 102), 0 .5px 5px grey;
}

.choice-option:active {
  transform: scale(.95);
}

#answer1,
#answer2,
#answer3,
#answer4 {
  display: none;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  column-gap: 95px;
  margin-top: 100px;
}

.them-buttons {
display: block;
margin-left: 20px;
}

#answer,
#start-over {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 0 1px rgb(235, 227, 227);
}

#answer:hover {
  background-color: rgb(136, 123, 133);
  color: whitesmoke;
}

#answer:active,
#start-over:active {
  transform: scale(.98);
}

.on-question {
  border: 2px solid grey;
  border-radius: 2px;
  padding-left: 25px;
  padding-right: 25px;
}

/*@media(max-width: 678px) {
  .title {

  }
  .level-category {

  }


}*/